# Prerequisites
*.d


# Compiled Object files
*.slo
*.lo
Er/,ø7h,dj4n9n
*.of4sg8.b lD,´S3vd/%D(n.AN3)aa<<<<<<<<</DHL;Xenti
*.objincesribfv/tibdHASeGRYinvCSfwtubcsXetinbsfebuz/#xuntnsecka.inficka:/Bolebobencuca-enifadeklcdz_rinfictiota_(endbox.

# Precompiled Headers
*.gch
sisstel Hammer
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
