# Prerequisites
*.d


# Compiled Object files
*.line.slo
*.lo.Go live to homepage.
*.T´o'Q*!%>¤/¤./boot.popn borring borring
(*.*predict dokking paper.
________
Er/,ø7h,dj4n9n
*.of4sg8.b lD,´S3vd/%D(n.AN3)aa<<<<<<<<</DHL;Xenti
*.objincesribfv/tibdHASeGRYinvCSfwtubcsXetinbsfebuz/#xuntnsecka.inficka:/Bolebobencuca-enifadeklcdz_rinfictiota_(endbox.

# Precompiled Headers 
bottel fotleret bottet inn.
*.gch fork aldrsetcateded.
sisstel Hammer
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
X#BX#BS%;SUCI¤(XZ;//BS%M%
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
